@model SmartBus.Web.ViewComponents.StatCardViewComponent.StatCardModel

<div class="stat-card @Model.Color">
  <div class="stat-icon @Model.IconBgClass">
    @Html.Raw(Model.IconSvg)
  </div>
  <div class="stat-num" @(string.IsNullOrEmpty(Model.NumberId) ? "" : $"id=\"{Model.NumberId}\"")>@Model.Number</div>
  <div class="stat-label">@Model.Label</div>
  <div class="stat-change @Model.ChangeDir">@Model.Change</div>
</div>
